.tarea-formulario {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.tarea-input {
  width: 450px;
  font-size: 18px;
  color: rgb(60, 60, 218);
  background-color: white;
  padding: 14px 32px 14px 16px;
  border-radius: 4px 0 0 4px;
  border: 2px solid #004aad;
  outline: none;
}

.tarea-boton {
  padding: 16px;
  font-size: 18px;
  font-family: Roboro, sans-serif;
  border: none;
  border-radius: 0 4px 4px 0;
  cursor: pointer;
  outline: none;
  background: #004aad;
  color: white;
  text-transform: capitalize;
}
