* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  color: white;
  background-color: #1b1b32;
  font-family: Lato, sans-serif;
  margin-top: 10px;
}

h1 {
  color: #09099b;
  font-size: 25px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin: 20px 0;
}

.aplicacion-tareas {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.logo-contenedor {
  width: 100%;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  width: 800px;
  height: 150px;
}

.tareas-lista-principal {
  width: 800px;
  min-height: 500px;
  background-color: #ececf0;
  padding: 25px;
  margin: 10px;
  border-radius: 26px;
}
